:root {
  --FontMontserrat: 'Montserrat', sans-serif;
  --FontOpenSans: 'Open Sans', sans-serif;

  --FZSmall: 11px;
  --FZRegular: 14px;

  --radius: 2px;

  --red: #F33535;
  --dark: #3e3e3e;
  --white: #FFFFFF;
  --black: #000000;
  --gray: #dedede;
  --grayLight: #f1f1f1;
  --darkGray: #545454;

  --transitionRegular: all .2s ease-out;
  --transitionLinear : all 0.3s linear;

  --borderColorLight: #CACACA;
}

html *,
body * {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}

* {
  font-family: var(--FontMontserrat);
}

*::placeholder {
  font-family: var(--FontMontserrat);
}

*:focus::placeholder {
  color: transparent !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
  margin: 25px 0;
  font-family: var(--FontOpenSans);
}

a {
  text-decoration: none;
}

p a {
  color: var(--red);
  text-decoration: underline;
}

a:visited {
  color: var(--red);
}

p a:hover,
li a:hover,
dd a:hover {
  color: var(--darkRed);
}

p {
  color: var(--dark);
  margin: 15px 0;
  font-size: var(--FZRegular);
  line-height: 2.1em;
}

ul li {
  list-style: none;
}

li, dd {
  line-height: 1.4em;
}

li {
  color: var(--dark);
  font-size: var(--FZRegular);
}

.container {
  width: calc(100% - 50px);
  max-width: 1024px;
  margin: 0 auto;
  display: block;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}